@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.zip);
}
@font-face {
    font-family: Prosto One;
    src: url(fonts/Prosto-one.zip);
}
@font-face {
    font-family: Prosto;
    src: url(fonts/Prosto.zip);
}